<div class="full-page">
    <div class="row">
        <p class="label-text">LAIKAS</p>
        <div class="counter">{{counter}}</div>
    </div>
    <div class="row">
        <p class="label-text">TAŠKAI</p>
        <p class="counter">{{score}}</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="full-width btn btn-success" ng-click="plusScore()">Teisingai</button>
        </div>
        <div class="col-md-4">
            <div class="row">
                <button class="full-width btn btn-success" ng-click="countdown()">Start</button>
                <button class="full-width btn btn-warning" ng-click="stop()">Stop</button>
                <button class="full-width btn btn-danger" ng-click="reset()">RESET</button>
            </div>
        </div>
        <div class="col-md-4">
            <button class="full-width btn btn-danger" ng-click="minusScore()">Neteisingai</button>
        </div>
    </div>
</div>