<div class="row">
    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="abbaDancingQueen(0.4)">abbaDancingQueen</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="abbaDancingQueen(1)">abbaDancingQueen</button>
    </div>

    </div>
    <div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="aceOfBaseBeautifulLife(0.5)">aceOfBaseBeautifulLife</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="aceOfBaseBeautifulLife(1)">aceOfBaseBeautifulLife</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="antisAlyvos(0.5)">antisAlyvos</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="antisAlyvos(1)">antisAlyvos</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="georgeMichaelCarelessWhisper(0.5)">georgeMichaelCarelessWhisper</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="georgeMichaelCarelessWhisper(1)">georgeMichaelCarelessWhisper</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="kellyFamilyAnAngel(0.5)">kellyFamilyAnAngel</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="kellyFamilyAnAngel(1)">kellyFamilyAnAngel</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="marijonasMikutaviciusTrysMilijonai(0.5)">marijonasMikutaviciusTrysMilijonai</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="marijonasMikutaviciusTrysMilijonai(1)">marijonasMikutaviciusTrysMilijonai</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="metallicaEnterSandmanSmoothJazz(0.5)">metallicaEnterSandmanSmoothJazz</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="metallicaEnterSandmanSmoothJazz(1)">metallicaEnterSandmanSmoothJazz</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="poliarizuotiStiklaiMedziaiBeLapu(0.5)">poliarizuotiStiklaiMedziaiBeLapu</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="poliarizuotiStiklaiMedziaiBeLapu(1)">poliarizuotiStiklaiMedziaiBeLapu</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="redHotChiliPeppersGiveItAway(0.5)">redHotChiliPeppersGiveItAway</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="redHotChiliPeppersGiveItAway(1)">redHotChiliPeppersGiveItAway</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="stasysPovilaitisSvieskiManVel(0.5)">stasysPovilaitisSvieskiManVel</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="stasysPovilaitisSvieskiManVel(1)">stasysPovilaitisSvieskiManVel</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="theRollingStonesSatisfaction(0.5)">theRollingStonesSatisfaction</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="theRollingStonesSatisfaction(1)">theRollingStonesSatisfaction</button>
    </div>

</div>
<div class="row">

    <div class="col-sm-6">
        <button class="full-width btn btn-success" ng-click="twoUnlimitedNoLimit(0.5)">twoUnlimitedNoLimit</button>
    </div><div class="col-sm-6">
        <button class="full-width btn btn-danger" ng-click="twoUnlimitedNoLimit(1)">twoUnlimitedNoLimit</button>
    </div>
</div>